<h1> Category </h1>

<%= @category.title %>

<% @category.projects.each do |project| %>
  <%= link_to project.title, project_path(project) %>
<% end %>

<%= render partial: 'projects/form', locals: { project: @project } %>
