<h2> Category: <%= @category.title %> </h2>
<h3> Projects: </h3>
<ul>
<% @category.projects.each do |project| %>
  <li><%= link_to project.title, project_path(project) %></li>
<% end %>
</ul>
<% if current_user.present? %><br>
<h3><%= link_to "Create a Project", new_project_path %></h3>
<% end %>
