<h2> Category: <%= @category.title %> </h2>
<% if @category.projects.count == 0 %>
  <p> There are currently no projects here.</p>
  <% if current_user.present? %><br>
    <h3><%= link_to "Create a Project", new_category_project_path(@category.id) %></h3>
  <% end %>
<% else %>
  <h3> Projects: </h3>
  <ul>
  <% @category.projects.each do |project| %>
    <li><%= link_to project.title, category_project_path(@category.id, project) %></li>
  <% end %>
  </ul>
  <% if current_user.present? %><br>
    <h3><%= link_to "Create a Project", new_category_project_path(@category.id) %></h3>
  <% end %>
<% end %>
